In [6]:
data = "Dave David"
data.count("Dave")
data.count("D")

2

In [8]:
string = "Dave ID is dave"
string.index("D")
string.index("d")

11

In [11]:
string01 = "Dave ID is dave"
string01.find("x")
string01.find("D")

if string01.find("x") == -1 :
    print("x는 string01 문자열 객체 안에 없습니다")

x는 string01 문자열 객체 안에 없습니다

In [12]:
string02 = "12345"
comma = ","

comma.join(string02)

'1,2,3,4,5'

In [17]:
data01 = "    Dave           "
data01.strip()

data01 = "    Dave           "
data01.rstrip()

'    Dave'

In [23]:
string03 = "              999999999999999999999(Dave)8888888            "
string03.strip(" 98()")

'Dave'

In [24]:
string04 = "Dave ID is dave"
string04.upper()

'DAVE ID IS DAVE'

In [25]:
string04 = "Dave ID is dave"
string04.lower()

'dave id is dave'

In [34]:
string06 = "Dave goes to Korea"
string06.split()[3]
string06.split(" ")

string07 = "Dave/goes/to/Korea"
string07.split("/")

['Dave', 'goes', 'to', 'Korea']

In [46]:
score = 80, 60, 70, 50, 90

total = 0

for num in score :
    total += num
print("총합:",total)

총합: 350

In [63]:
### 문자열 10, 11, 12, 13, 14 해당 값을 리스트 자료 형태로 [10,11,12,13,14]로 변환 시켜 보세요 

word = "10, 11, 12, 13, 14"
word2 = word.split(",")

print(word2)

['10', ' 11', ' 12', ' 13', ' 14']

In [61]:

word = "10, 11, 12, 13, 14"
word2 = word.split(",")

for index, split_item in enumerate(word2) :
    word2[index] = int(split_item)
print(word2)

[10, 11, 12, 13, 14]

In [70]:
string08 = "Dave goes to Korea"
string08.replace("Dave", "David")

string09 = "(David)"
string09.replace("()", "")

string11 = "(David)"
#string12 = string11.replace("(", "")
#string12.replace(")", "")

string13 = string11.replace("(", "").replace(")", "")
string13

'David'